.app-container {
  font-family: 'Montserrat', sans-serif;
  background-color: #fcf8f5;
  min-height: 100vh;
}

.app-header {
  color: #470d0d;
  padding: 1rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  /* min-height: calc(100vh - 80px); */
}


.add-form {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 10px;
}

.add-form input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.add-btn {
  background-color: #470d0d;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.device-table {
  width: 100%;
  max-width: 700px;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px; 
  overflow: hidden;
}

.device-table th,
.device-table td {
  padding: 1rem;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}

.status-cell {
  cursor: pointer;
  color: #2563eb;
  font-weight: bold;
  text-transform: lowercase;
}

.bin-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.device-table tbody tr:hover {
  background-color: #f4e8e8;
  transform: scale(1.01);
  transition: 0.2s ease-in-out;
}

/* delete button css */
.icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.icon-button svg {
  color: black; 
  font-size: 1.2rem;
  transition: color 0.2s ease;
}

.icon-button:hover {
  transform: scale(1.05);
}

.icon-button:hover svg {
  color: #cc1f1a;
}
